head{
background:#500000;

}
div.premiere-rubrique{

margin-top:0;
margin-left:0;


}

div.bvn{
	text-align:right;
	margin-right:130px;
}

body{
	background-color:#500000;	
}
h1{
	color:#F0F0F0;
	
}
h2{
	color:#F0F0F0;
	
}
h3{
	color:#F0F0F0;
	
}
p{
	color:#F0F0F0;
	
}
.logo{
float:left;
}
footer{

background:#800000;

position:absolute;

bottom:0;

width:100%;

padding-top:50px;

height:50px;

text-align:center;

}
.woa{
	margin-top:100px;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 30px;
	grid-auto-rows: minmax(auto, auto);
	grid-auto-flow: column;
	max-width: 200% !important;
	padding-top:30px;
	height:550px;
	
}

.grid > div {
 
margin-top:10%;
margin-left:10%;
margin-right:10%;
background-color:#800000;
text-align:center;
	
}